.cards {
	width: 100%;
	min-height: 20vh;
	padding: 60px 0;
	background-color: #18191d;
	color: #fff;
	display: flex;
	flex-direction: column;
}

.cards-title {
	display: flex;
	align-items: center;
	width: 1200px;
	padding: 15px 0;
	margin-right: auto;
	margin-left: auto;
	border-bottom: solid 1px rgba(255, 255, 255, 0.125);
	font-size: 36px;
}

.cryptocurrencies, .defi, .nft {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 0;
}

.tokens-title {
	margin-top: 10px;
	margin-bottom: 30px;
}

.tokens-cards {
	display: flex;
	flex-direction: row;
}

.cc_card {
	width: 480px;
	height: 250px;
	margin-right: 20px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	border-radius: 12px;
	backdrop-filter: blur(16px) saturate(100%);
	background-color: rgba(20, 20, 22, 0.75);
	display: flex;
	flex-direction: row;
}

.cc_card:hover {
	position: relative;
	top: -1px;
	box-shadow: rgba(247,147,26,.1) 0px 20px 25px -5px, rgba(247,147,26,.04) 0px 10px 10px -5px;
	transition: all .3s ease-out;
}

.cc_card-main {
	display: flex;
	flex-direction: column;
	width: 340px;
}

.cc_card-name {
	margin: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cc_card-name div {
	margin-left: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cc_card-name div img {
	margin: 0 20px;
}

.cc_card-name div a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	padding: 1px;
}

.cc_card-name div a:hover {
	color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px rgb(247,147,26);
	transition: all 0.3s;
}

.cc_card-name div a h2 {
	font-size: 24px;
}

.cc_card-name p {
	margin: 0 20px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
}

.cc_card-chart {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.cc_card-basic-chart {
	margin: 5px;
	max-width: 250px;
  max-height: 150px;
}

.cc_card-activity {
	padding: 20px;
	border-left: 1px solid rgba(255, 255, 255, 0.125);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* border-radius: 0 0 12px 12px; */
	/* background-image: radial-gradient(at 10% 80%, rgba(247, 148, 26, 0.4), transparent 80%); */
}

.cc_card-activity div {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cc_card-price {
	font-size: 24px;
}

.cc_card-subtitle {
	margin: 2px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
}

#eth-card:hover {
	box-shadow: rgba(183,208,248,.1) 0px 20px 25px -5px, rgba(183,147,248,.04) 0px 10px 10px -5px;
}

#eth-card div a:hover {
	border-bottom: solid 1px rgb(183,208,248);
}

#sol-card {
	width: 200px;
	margin-right: 0;
	flex-direction: column;
}

#sol-card:hover {
	box-shadow: rgba(20,241,149,.1) 0px 20px 25px -5px, rgba(20,241,149,.04) 0px 10px 10px -5px;
}

#sol_card-main {
	max-width: 200px;
}

#sol_card-name {
	margin: 15px 5px;
}

#sol_card-name div {
	margin-left: 5px;
}

#sol_card-name div img {
	margin: 0 10px;
}

#sol-card div a:hover {
	border-bottom: solid 1px rgb(20,241,149);
}

#sol_card-name p {
	margin: 0 10px;
}

#sol_card-name div a h2 {
	font-size: 20px;
}

#sol_card-chart {
	padding: 5px;
}

#solana-chart {
	max-width: 160px;
	max-height: 80px;
}

#sol_card-activity {
	padding: 15px;
	border-left: none;
	flex-direction: row;
	justify-content: space-evenly;
}

#sol_card-activity div {
	margin: 0 5px;
}

#solana-price {
	font-size: 20px;
}