header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	height: 100px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

#logo {
	width: 80px;
}

.header-title {
	color: #e4e4e4;
	text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	margin: 0 25px;
	cursor: default;
}

header nav {
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 85%;
}

header nav ul {
	display: flex;
	align-items: center;
}

header nav ul li {
	list-style: none;
}

header nav ul li:hover {
	position: relative;
	top: -2px;
	transition: all 0.3s;
}

header nav ul li > a {
	margin: 0 15px;
	text-decoration: none;
	color: #8e8f90;
}


li:hover .header_titles {
	color: #fff;
	transition: color 0.3s;
}

.header-control_icons {
	padding: 5px;
	filter: invert(0.7);
}

.header-control_icons:hover {
	filter: invert(1);
}

.header-control_special {
	padding: 12px;
	margin: 0 8px;
	border-radius: 18px;
}

.header-control_special:last-child {
	background: linear-gradient(90deg, #3494e6 0%, #ec6ead 100%);
}

.header-control_special > a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-control_special img {
	padding-right: 10px;
}
